/* ---------------------------------------- */
/*  Typography                              */
/* ---------------------------------------- */
:root {
  /* Font Sizes */
  --font-h1-size: 2rem;
  --font-h2-size: 1.8rem;
  --font-h3-size: 1.6rem;
  --font-h4-size: 1.4rem;
  --font-h5-size: 1.2rem;
  --font-h6-size: 1.0rem;
  --body-size: 1rem;

  /* ---------------------------------------- */
  /*  Colors                                  */
  /* ---------------------------------------- */
  --ag-tykvennyj-festival-main: #cc6300;
  --ag-tykvennyj-festival-narrative-border: #533621;
  --ag-tykvennyj-festival-quote-box-color: #fff1e3;
  --ag-tykvennyj-festival-quote-box-border: #7d4c0b;
  --ag-tykvennyj-festival-table-row-even: #fdfdfd;
  --ag-tykvennyj-festival-table-row-odd: #fff1e3;
}